TIME_ZONE=America/New_York
NCIP_URL=XXXX
SIERRA_URL=XXXX
ENCODED_RECAP_CLIENT_SECRET=XXXX
ENCODED_SIERRA_ID=XXXX
ENCODED_SIERRA_SECRET=XXXX
RECAP_HOLD_REQUEST_AUTH_URL=XXXX
RECAP_CLIENT_ID=XXXX
HOLD_REQUESTS_URL=XXXX
HOLD_REQUEST_RESULT_STREAM=XXXX
MOCKY_TIMEOUT_URL=http://www.mocky.io/v2/5982247c1100004a11396501
MOCKY_500_URL=http://www.mocky.io/v2/598227091100005a11396507
MOCKY_404_URL=http://www.mocky.io/v2/598227341100005c11396508
RUN_ENV=localhost