TIME_ZONE=America/New_York
NCIP_URL=XXXX
SIERRA_URL=XXXX
ENCODED_RECAP_CLIENT_SECRET=XXXX
ENCODED_SIERRA_ID=XXXX
ENCODED_SIERRA_SECRET=XXXX
RECAP_HOLD_REQUEST_AUTH_URL=XXXX
RECAP_CLIENT_ID=XXXX
PLATFORM_API_BASE_URL=XXXX
HOLD_REQUEST_RESULT_STREAM=XXXX
RUN_ENV=localhost
